@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body,
html,
#root {
  background-color: #26315a;
  height: 100%;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* altezza minima viewport */
}
.nav-bg {
  background-color: #171c1f;
  font-family: "Roboto", "Ubuntu", sans-serif;

  width: 100%;
}
.nav-div {
  height: 2.5em;
  align-content: end;
  cursor: pointer;
  padding: 0.1em;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: end;
}
.nav-div:hover {
  background-color: #343536;
  transform: scale(1.1);
}
a {
  padding-bottom: 0;
}
h6 {
  margin-bottom: 0;
  display: inline-block;
  padding-right: 0.3em;
}

/* Controlli generali */
.carousel-control-prev,
.carousel-control-next {
  width: 40px; /* area cliccabile */
  height: 40px; /* proporzionata */
  top: 50%; /* centra verticalmente */
  transform: translateY(-50%);
  opacity: 0.8;
  border-radius: 50%; /* facoltativo: freccia tonda */
  background-color: rgba(0, 0, 0, 0.3); /* colore sfondo */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Freccia sinistra */
.carousel-control-prev {
  left: 0; /* posizione base */
  transform: translate(-50%, -50%); /* sposta metà fuori dal carosello */
}

/* Freccia destra */
.carousel-control-next {
  right: 0;
  transform: translate(50%, -50%); /* sposta metà fuori dal carosello */
}

/* Icone freccia (Bootstrap default) */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  background-color: rgba(255, 255, 255, 0.8); /* icona più visibile */
  border-radius: 50%;
}

.home-text {
  color: white;
}

.leaderboard-cs {
  color: white;
  background-color: #171c1f;
}
.table {
  border-collapse: separate; /* necessario per arrotondare le celle */
  border-spacing: 0; /* rimuove spazi extra tra le celle */
}
.table-rnd {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.table-rnd-l {
  border-top-left-radius: 0.5rem;
}
.table-rnd-r {
  border-top-right-radius: 0.5rem;
}
/* .table th:first-child {
  border-top-left-radius: 0.5rem;
}

.table th:last-child {
  border-top-right-radius: 0.5rem;
} */

.table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}
.my-dark-dropdown {
  background: #212529;
  color: #fff;
  border-radius: 8px;
  width: 100%;
}
.dropdown-menu {
  border: none !important;
  box-shadow: none !important; /* opzionale se vuoi togliere anche l'ombra */
  background-color: #212529 !important; /* assicura colore scuro anche in hover */
  padding: 0;
}
.logo-cont {
  height: 3.5em;
}
.page-container {
  max-width: 1140px; /* larghezza container di bootstrap lg */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* padding coerente */
  padding-right: 1rem;
  flex: 1;
}
.page-container-login {
  max-width: 900px; /* larghezza container di bootstrap lg */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* padding coerente */
  padding-right: 1rem;
}
.page-container-registration {
  max-width: 1140px; /* larghezza container di bootstrap lg */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* padding coerente */
  padding-right: 1rem;
}
.navbar {
  margin-bottom: 0; /* niente spazio sotto */
  border-bottom: none; /* se vuoi un effetto continuo */
  z-index: 1050;
}
.custom-placeholder::placeholder {
  color: black;
}

/* SQUADRE*/

.stripe-atalanta {
  background: repeating-linear-gradient(90deg, #000000, /* nero */ #000000 85px, #0a2e6e 85px, /* blu Atalanta */ #0a2e6e 170px);
  color: white;

  padding: 2rem;
}
.stripe-bologna {
  background: repeating-linear-gradient(90deg, #a01930, #a01930 85px, #142335 85px, #142335 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-cagliari {
  background: repeating-linear-gradient(90deg, #d50110, #d50110 85px, #00285b 85px, #00285b 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-como {
  background: repeating-linear-gradient(90deg, #073f6a, #073f6a 85px, #ffffff 85px, #ffffff 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-cremonese {
  background: repeating-linear-gradient(90deg, #ed221c, #ed221c 85px, #8b898f 85px, #8b898f 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-fiorentina {
  background: repeating-linear-gradient(90deg, #61328c, #61328c 85px, #61328c 85px, #61328c 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-genoa {
  background: repeating-linear-gradient(90deg, #ac0b15, #ac0b15 85px, #002440 85px, #002440 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-inter {
  background: repeating-linear-gradient(90deg, #001e9d, #001e9d 85px, #000000 85px, #000000 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-juventus {
  background: repeating-linear-gradient(90deg, #ffffff, #ffffff 85px, #000000 85px, #000000 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-lazio {
  background: repeating-linear-gradient(90deg, #75d2eb, #75d2eb 85px, #ffffff 85px, #ffffff 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-lecce {
  background: repeating-linear-gradient(90deg, #fef200, #fef200 85px, #e12e20 85px, #e12e20 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-milan {
  background: repeating-linear-gradient(90deg, #fe0032, #fe0032 85px, #000000 85px, #000000 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-napoli {
  background: repeating-linear-gradient(90deg, #61c4e2, #61c4e2 85px, #61c4e2 85px, #61c4e2 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-parma {
  background: repeating-linear-gradient(90deg, #1f308b, #1f308b 85px, #ffd000 85px, #ffd000 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-pisa {
  background: repeating-linear-gradient(90deg, #005eb8, #005eb8 85px, #000000 85px, #000000 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-roma {
  background: repeating-linear-gradient(90deg, #ffb600, #ffb600 85px, #98142b 85px, #98142b 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-sassuolo {
  background: repeating-linear-gradient(90deg, #00a452, #00a452 85px, #151815 85px, #151815 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-torino {
  background: repeating-linear-gradient(90deg, #8c2519, #8c2519 85px, #8c2519 85px, #8c2519 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-udinese {
  background: repeating-linear-gradient(90deg, #2f2d29, #2f2d29 85px, #ffffff 85px, #ffffff 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.stripe-verona {
  background: repeating-linear-gradient(90deg, #ffd101, #ffd101 85px, #022d72 85px, #022d72 170px);
  color: white;
  min-height: 100vh;
  padding: 2rem 0;
}
.team-title {
  font-size: 45px;
  font-family: "Delius", cursive;
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: 900;
}
.card-box-shadow {
  box-shadow: 3px 4px 9px 2px;
}
.card-box-shadoww {
  box-shadow: 3px 4px 9px 2px rgba(255, 255, 255);
}
.img-border {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}
.team-title-card {
  background-color: #26315a;
  padding: 0;
}
.navbar .brand-subtitle {
  font-size: 16px;
  font-weight: 500;
  margin-top: 2px; /* distanza dal brand */
  text-align: left; /* o center, se preferisci */
}
.carousel-control-prev {
  left: 1.5em;
  top: 1em;
}

.carousel-control-next {
  top: 1em;
  right: 1.5em;
}
.carousel-indicators {
  top: 30em;
}
.minimal-arrow {
  font-size: 2rem;
  color: white; /* Cambia se ti serve */
  background: none;
  border: none;
  box-shadow: none;
  text-decoration: none;
}
.carousel-control-prev,
.carousel-control-next {
  text-decoration: none !important;
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}
.footer {
  background-color: #171c1f;
  color: white;
  padding: 1.5rem 0 0.5rem 0;
}
.phrase {
  font-family: "Delius", cursive;
  margin-bottom: 0.5em;
  text-align: center;
}

.main-content {
  flex: 1; /* occupa tutto lo spazio verticale disponibile, spingendo il footer in fondo */
  overflow-y: auto; /* contenuto scrollabile (opzionale) */
}
